html, body {
	height: 100%;
}

a:hover {
	cursor: pointer;
}

.container {
	display: table;
	height: 100vh;
	padding: 0;
	width: 100%;
}

.content {
	display: table-row;
	height: 100%;
	overflow-y: scroll;
}

.input {
	display: table-row;
	height: 0;
}

.message {
	margin: 15px;
}

.messages {
	height: 100%;
	overflow-y: scroll;
}

#login {
	width: 100%;
}